Target audience 
All people but the focus is on young people.

Purpose of the website
Multipurpose
- Adverts of events, books and calenders,t shirt wrist bands.
- Events booking( Asking amazing quotes to attend an event).
- Video portal from Youtube
- Blog post with commenting capabilites
- News events
- About Amazing quotes -team -products -what we do -
- slider for everyday messages
- subscription capabilites
- order placement(without payment)
- Events show( eg annual youth camps)
- Support ability(enable users to support, partnering and such.)
Core values
- inspire people to do to become
- influence to do
- expand

example website

les brown website
Chris mauki
Joel nanauka

hate
chris
scope
link with social media

