
.icon-headset-1:before { content: '\e800'; } /* '' */
.icon-quotation-mark:before { content: '\e801'; } /* '' */
.icon-speech-bubble:before { content: '\e802'; } /* '' */
.icon-calendar-1:before { content: '\e803'; } /* '' */
.icon-wall-clock:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-checked:before { content: '\e806'; } /* '' */
.icon-email:before { content: '\e807'; } /* '' */
.icon-fist:before { content: '\e808'; } /* '' */
.icon-open-book:before { content: '\e809'; } /* '' */
.icon-phone-call:before { content: '\e80a'; } /* '' */
.icon-placeholder:before { content: '\e80b'; } /* '' */
.icon-books-1:before { content: '\e80c'; } /* '' */
.icon-up-arrow-2:before { content: '\e810'; } /* '' */
.icon-down-arrow-2:before { content: '\e811'; } /* '' */
.icon-right-arrow-1:before { content: '\e812'; } /* '' */
.icon-left-arrow-1:before { content: '\e813'; } /* '' */
.icon-play:before { content: '\e814'; } /* '' */
.icon-left-quote:before { content: '\e81a'; } /* '' */
.icon-016-desk:before { content: '\e81b'; } /* '' */
.icon-017-analysis:before { content: '\e81c'; } /* '' */
.icon-018-businessman-1:before { content: '\e81d'; } /* '' */
.icon-019-meeting:before { content: '\e81e'; } /* '' */
.icon-020-worker:before { content: '\e81f'; } /* '' */
.icon-021-user:before { content: '\e820'; } /* '' */
.icon-022-megaphone-1:before { content: '\e821'; } /* '' */
.icon-023-video-call:before { content: '\e822'; } /* '' */
.icon-024-teamwork-1:before { content: '\e823'; } /* '' */
.icon-025-presentation-1:before { content: '\e824'; } /* '' */
.icon-026-businessman:before { content: '\e825'; } /* '' */
.icon-027-curriculum:before { content: '\e826'; } /* '' */
.icon-028-presentation:before { content: '\e827'; } /* '' */
.icon-029-engineer:before { content: '\e828'; } /* '' */
.icon-030-conversation:before { content: '\e829'; } /* '' */
.icon-031-teamwork:before { content: '\e82a'; } /* '' */
.icon-032-planning:before { content: '\e82b'; } /* '' */
.icon-033-relation:before { content: '\e82c'; } /* '' */
.icon-034-add-user:before { content: '\e82d'; } /* '' */
.icon-035-administrator:before { content: '\e82e'; } /* '' */
.icon-036-balance:before { content: '\e82f'; } /* '' */
.icon-037-calendar:before { content: '\e830'; } /* '' */
.icon-038-hierarchical-structure-1:before { content: '\e831'; } /* '' */
.icon-039-note:before { content: '\e832'; } /* '' */
.icon-040-database:before { content: '\e833'; } /* '' */
.icon-041-hierarchical-structure:before { content: '\e834'; } /* '' */
.icon-042-id-card:before { content: '\e835'; } /* '' */
.icon-043-email:before { content: '\e836'; } /* '' */
.icon-044-briefcase:before { content: '\e837'; } /* '' */
.icon-045-strategy:before { content: '\e838'; } /* '' */
.icon-046-management:before { content: '\e839'; } /* '' */
.icon-047-profits-1:before { content: '\e83a'; } /* '' */
.icon-048-megaphone:before { content: '\e83b'; } /* '' */
.icon-049-profits:before { content: '\e83c'; } /* '' */
.icon-050-team:before { content: '\e83d'; } /* '' */
.icon-001-job-search:before { content: '\e83e'; } /* '' */
.icon-002-salary:before { content: '\e83f'; } /* '' */
.icon-003-contract:before { content: '\e840'; } /* '' */
.icon-004-intelligence:before { content: '\e841'; } /* '' */
.icon-005-placeholder:before { content: '\e842'; } /* '' */
.icon-006-motivation:before { content: '\e843'; } /* '' */
.icon-007-settings:before { content: '\e844'; } /* '' */
.icon-008-stopwatch:before { content: '\e845'; } /* '' */
.icon-009-diploma:before { content: '\e846'; } /* '' */
.icon-010-clipboard:before { content: '\e847'; } /* '' */
.icon-011-target:before { content: '\e848'; } /* '' */
.icon-012-handshake:before { content: '\e849'; } /* '' */
.icon-013-meeting-1:before { content: '\e84a'; } /* '' */
.icon-014-networking:before { content: '\e84b'; } /* '' */
.icon-015-book:before { content: '\e84c'; } /* '' */
.icon-014-wait:before { content: '\e84d'; } /* '' */
.icon-015-telephone-3:before { content: '\e84e'; } /* '' */
.icon-016-telephone-2:before { content: '\e84f'; } /* '' */
.icon-017-mailbox-1:before { content: '\e850'; } /* '' */
.icon-018-mailbox:before { content: '\e851'; } /* '' */
.icon-019-email-6:before { content: '\e852'; } /* '' */
.icon-020-note:before { content: '\e853'; } /* '' */
.icon-021-telephone-1:before { content: '\e854'; } /* '' */
.icon-022-browser:before { content: '\e855'; } /* '' */
.icon-023-email-5:before { content: '\e856'; } /* '' */
.icon-024-worldwide:before { content: '\e857'; } /* '' */
.icon-025-postbox:before { content: '\e858'; } /* '' */
.icon-026-id-card:before { content: '\e859'; } /* '' */
.icon-027-agenda:before { content: '\e85a'; } /* '' */
.icon-028-email-4:before { content: '\e85b'; } /* '' */
.icon-029-telephone:before { content: '\e85c'; } /* '' */
.icon-030-billboard:before { content: '\e85d'; } /* '' */
.icon-031-flyer:before { content: '\e85e'; } /* '' */
.icon-032-laptop:before { content: '\e85f'; } /* '' */
.icon-033-chat:before { content: '\e860'; } /* '' */
.icon-034-email-3:before { content: '\e861'; } /* '' */
.icon-035-smartphone:before { content: '\e862'; } /* '' */
.icon-036-pin:before { content: '\e863'; } /* '' */
.icon-037-send:before { content: '\e864'; } /* '' */
.icon-038-email-2:before { content: '\e865'; } /* '' */
.icon-039-email-1:before { content: '\e866'; } /* '' */
.icon-040-email:before { content: '\e867'; } /* '' */
.icon-001-placeholder:before { content: '\e868'; } /* '' */
.icon-002-letter:before { content: '\e869'; } /* '' */
.icon-003-stamp:before { content: '\e86a'; } /* '' */
.icon-004-contact:before { content: '\e86b'; } /* '' */
.icon-005-email-9:before { content: '\e86c'; } /* '' */
.icon-006-mailbox-3:before { content: '\e86d'; } /* '' */
.icon-007-mailbox-2:before { content: '\e86e'; } /* '' */
.icon-008-smartphone-1:before { content: '\e86f'; } /* '' */
.icon-009-email-8:before { content: '\e870'; } /* '' */
.icon-010-email-7:before { content: '\e871'; } /* '' */
.icon-011-chat-1:before { content: '\e872'; } /* '' */
.icon-012-hot-air-balloon:before { content: '\e873'; } /* '' */
.icon-013-support:before { content: '\e874'; } /* '' */