<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title> John Deo Life Coach Template -About Page </title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i%7CPT+Serif:400,400i,700,700i" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- top-header-section-->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                    <p class="welcome-text">Welcome to life coach website.</p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li>|</li>
                        <li>+180-123-4567</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-toggel">
        <a href="#" id="dots" class="dots-icon"><i class="fa fa-ellipsis-v visible-xs"></i></a>
    </div>
    <!-- /.top-header-section-->
    <!-- header-section-->
    <div class="header-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="logo">
                        <a href="index.html"><img src="./images/logo.png" alt=""> </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <!-- navigations-->
                    <div class="navigation">
                        <div id="navigation">
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li class="has-sub"><a href="#">Coaching</a>
                                    <ul>
                                        <li><a href="coaching-list.html">Coaching List</a></li>
                                        <li><a href="coaching-single.html">Coaching Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About me</a></li>
                                <li class="has-sub"><a href="#">Article</a>
                                    <ul>
                                        <li><a href="blog-default.html">Articles</a></li>
                                        <li><a href="blog-single.html">Article Single</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="testimonials.html">Client Stories</a> </li>
                                        <li><a href="events.html">Events</a> </li>
                                        <li><a href="event-single.html">Event Single</a> </li>

                                        <li><a href="books.html">books</a> </li>
                                        <li><a href="podcast.html">Podcast List</a></li>
                                        <li><a href="podcast-single.html">Podcast Single</a></li>
                                        <li><a href="video-gallery.html">Video Gallery</a> </li>
                                         <li><a href="accordion.html">Accordion</a> </li>
                                        <li><a href="404-page.html">404 page</a> </li>
                                        <li><a href="styleguide.html">styleguide</a> </li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Ask me</a></li>
                                <li><a href="template-feature.html">Template Feature</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.navigations-->
                </div>
            </div>
        </div>
    </div>
    <!-- /. header-section-->
    <!-- page-header -->
    <div class="pageheader-about" style="background:url(./images/about_pageheader.jpg) no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="about-caption">
                        <h1 class="about-title">John Doe</h1>
                        <p class="about-text">“Leadership psychology – and the #1 life and business strategist”
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- about-section -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30">
                    <!-- about-description -->
                    <div class="about-description ">
                        <p>Integer placerat <strong>augue sapieullam tempus auctor gravidat cursus aliquam exvel consequat felis sollicitudin egeonec</strong> enim tortor feugiat nonenim quisullamcorper facilisis niulla tristique urnased malesuada fermentum. Maecenas hendrerit nulla at cursus aliquam exvel consequat felis sollicitudinte.</p>
                        <blockquote><strong>“Cursus aliquam exvel consequat felis </strong>sollicitudin egeonec enim tortor feugiat nonenim one quisullamcorper facilisis niulla tristique urnased malesuada fermentum”</blockquote>
                        <p>Aliquam exvel consequat felis sollicitudin egeonec enim tortor feugiat nonenim quisullamcorper facilisis niulla tristique urnased malesuada fermenaecenas hendrerit nulla aUt cursus aliquam exveludinte.</p>
                    </div>
                    <!-- /.about-description -->
                </div>
            </div>
        </div>
    </div>
    <!-- feature-section -->
    <div class="space-medium bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- section-title -->
                    <div class="section-title">
                        <h2>John’s Phylosophy</h2>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <!-- feature-boxed -->
                    <div class="feature-boxed">
                        <div class="feature-content">
                            <div class="feature-icon">
                                <h3 class="title-bold">Education</h3>
                                <i class="icon-open-book text-primary"></i>
                            </div>
                            <p><strong>Aliquam exvel consequas sodin</strong> semtortor feugiat nonenilamcorper furnased malesua ermen.</p>
                        </div>
                    </div>
                    <!-- /.feature-boxed -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <!-- feature-boxed -->
                    <div class="feature-boxed">
                        <div class="feature-content">
                            <div class="feature-icon">
                                <h3 class="title-bold">Engagement</h3>
                                <i class="icon-speech-bubble text-default"></i>
                            </div>
                            <p>Scuam exvel consequat felisse sollitudin <strong>egeonec enim tortor fserat nonim </strong>quisullamcorp tristes.</p>
                        </div>
                    </div>
                    <!-- /.feature-boxed -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <!-- feature-boxed -->
                    <div class="feature-boxed">
                        <div class="feature-content">
                            <div class="feature-icon">
                                <h3 class="title-bold">Empowerment</h3>
                                <i class="icon-fist text-yellow"></i>
                            </div>
                            <p><strong>Gravidat cursus avel conse felis sollicudin</strong> egeonec enim tortor feuim quisullorper facilisis niull.</p>
                        </div>
                    </div>
                    <!-- /.feature-boxed -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.feature-section -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- section -title -->
                    <div class="section-title">
                        <h2>John’s Team Members</h2>
                    </div>
                    <!-- /.section -title -->
                </div>
            </div>
            <div class="row">
                <!-- team-block -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="team-block">
                        <div class="team-img"><a href="#" class="imghover"><img src="./images/team_member_1.jpg" alt=""></a></div>
                        <div class="team-content">
                            <h3 class="team-title"><a href="#" class="text-white">Timothy Preble</a></h3>
                        </div>
                    </div>
                </div>
                <!-- /.team-block -->
                <!-- team-block -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="team-block">
                        <div class="team-img"><a href="#" class="imghover"><img src="./images/team_member_2.jpg" alt=""></a></div>
                        <div class="team-content">
                            <h3 class="team-title"><a href="#" class="text-white">Echo Obrien</a></h3>
                        </div>
                    </div>
                </div>
                <!-- /.team-block -->
                <!-- team-block -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="team-block">
                        <div class="team-img"><a href="#" class="imghover"><img src="./images/team_member_3.jpg" alt=""></a></div>
                        <div class="team-content">
                            <h3 class="team-title"><a href="#" class="text-white">Matthew Reid</a></h3>
                        </div>
                    </div>
                </div>
                <!-- /.team-block -->
                <!-- team-block -->
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="team-block">
                        <div class="team-img"><a href="#" class="imghover"><img src="./images/team_member_4.jpg" alt=""></a></div>
                        <div class="team-content">
                            <h3 class="team-title"><a href="#" class="text-white">Joseph Hewitt</a></h3>
                        </div>
                    </div>
                </div>
                <!-- /.team-block -->
            </div>
            <hr class="mb80 mt80">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- section -title -->
                    <div class="section-title">
                        <h2>John’s latest Books</h2>
                    </div>
                    <!-- /.section -title -->
                </div>
            </div>
            <div class="row">
                <!-- product-block -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="product-block">
                        <div class="product-img text-center"><img src="./images/book.png" alt=""></div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="#" class="title">Design The Life You Love</a></h3>
                          <a href="#" class="product-text">Shop Now</a> <span class="product-price pull-right">$15</span>
                        </div>
                    </div>
                </div>
                <!-- /.product-block -->
                <!-- product-block -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="product-block">
                        <div class="product-img text-center"><img src="./images/book.png" alt=""></div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="#" class="title">The Power of NOW</a></h3>
                            <a href="#" class="product-text">Shop Now</a> <span class="product-price pull-right">$12</span>
                        </div>
                    </div>
                </div>
                <!-- /.product-block -->
                <!-- product-block -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="product-block">
                        <div class="product-img text-center"><img src="./images/book.png" alt=""></div>
                        <div class="product-content">
                            <h3 class="product-title"><a href="#" class="title">Creative Living Beyond Fear</a></h3>
                           <a href="#" class="product-text">Shop Now</a> <span class="product-price pull-right">$10</span>
                        </div>
                    </div>
                </div>
                <!-- /.product-block -->
            </div>
        </div>
    </div>
    <!--/.about-section -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb60">
                    <div class="footer-social">
                        <div class="">
                            <a href="#" class="btn-social-rectangle btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn-social-rectangle btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn-social-rectangle btn-googleplus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="btn-social-rectangle btn-instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="btn-social-rectangle btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="btn-social-rectangle btn-youtube"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- footer-contact links -->
                <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ft-logo"><img src="./images/ft_logo.png" alt=""></div>
                    <div class="footer-widget">
                        <div class="contact-info">
                            <span class="contact-text">951 Meadow View Drive Bristol,USA06010 </span>
                        </div>
                        <div class="contact-info">
                            <span class="contact-text">+180-123-4567</span>
                        </div>
                    </div>
                </div>
                <!-- /.footer-useful links -->
                <!-- footer-company-links -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Quick Links</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul>
                                    <li><a href="#">Home </a></li>
                                    <li><a href="#">Coaching</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Article</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul>
                                    <li><a href="#">Podcast</a></li>
                                    <li><a href="#">Books</a></li>
                                    <li><a href="#">Ask me</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.footer-services-links -->
                <!-- newsletter -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Join Our Newsletter!</h3>
                        <p>Get inspiration and education delivered to your inbox.</p>
                        <form>
                            <!-- input-group -->
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Here" aria-describedby="basic-addon2">
                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="fa fa-paper-plane"></i></span>
                            </div>
                            <!-- /.input-group -->
                        </form>
                    </div>
                </div>
                <!-- /.newsletter -->
            </div>
            <!-- tiny-footer -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="tiny-footer">
                        <p>Copyright © All Rights Reserved 2020 Template Design by
                            <a href="https://easetemplate.com/" target="_blank" class="copyrightlink">EaseTemplate</a></p>
                    </div>
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
    <!-- /.footer -->
     <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/sticky-header.js"></script>
    <script type="text/javascript">
    $("#dots").click(function() {
        $(".top-header").toggle("slow", function() {
            // Animation complete.
        });
    });
    </script>
    <script type="text/javascript" src="js/video-play.js">
    </script>
    <script type="text/javascript" src="js/return-to-top.js">     
</script>

</body>

</html>