{% extends 'base.html' %}
{% load static %}
{% block title %}Coaching List{% endblock title %}
{% block body %}
    <!-- page-header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h1 class="page-title">Coaching List</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>coaching list</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
<!-- coachservice-section -->
    <div class="content">
        <div class="container">
            <div class="row">
                <!-- coach-service -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="coach-service-block">
                        <div class="coach-service-img"><a href="#" class="imghover"><img src="./images/coach_service_img_1.jpg" alt="" class="img-responsive"></a></div>
                        <div class="coach-service-content">
                            <span class="coach-service-meta text-primary">Life Coaching</span>
                            <h4 class="coach-service-title"><a href="#">Every Single Incredible 
                            Achiever Have A Coach</a></h4>
                        </div>
                    </div>
                </div>
                <!-- /.coach-service -->
                <!-- coach-service -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="coach-service-block">
                        <div class="coach-service-img"><a href="#" class="imghover"><img src="./images/coach_service_img_2.jpg" alt="" class="img-responsive"></a></div>
                        <div class="coach-service-content">
                            <span class="coach-service-meta text-default">Relationship 
</span>
                            <h4 class="coach-service-title"><a href="#">Make A Healthy Relationship 
You Deserve</a></h4>
                        </div>
                    </div>
                </div>
                <!-- /.coach-service -->
                <!-- coach-service -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="coach-service-block">
                        <div class="coach-service-img"><a href="#" class="imghover"><img src="./images/coach_service_img_3.jpg" alt="" class="img-responsive"></a></div>
                        <div class="coach-service-content">
                            <span class="coach-service-meta text-yellow">Leadership</span>
                            <h4 class="coach-service-title"><a href="#">Being A Leader With Clear 
Vision & Guide Their Team</a></h4>
                        </div>
                    </div>
                </div>
                <!-- /.coach-service -->

                <!-- coach-service -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="coach-service-block">
                        <div class="coach-service-img"><a href="#" class="imghover"><img src="./images/coach_service_img_4.jpg" alt="" class="img-responsive"></a></div>
                        <div class="coach-service-content">
                            <span class="coach-service-meta text-primary">Entrepreneur</span>
                            <h4 class="coach-service-title"><a href="#">Learn What An  Entrepreneur Is & The Key of Skills</a></h4>
                        </div>
                    </div>
                </div>
                <!-- /.coach-service -->
                <!-- coach-service -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="coach-service-block">
                        <div class="coach-service-img"><a href="#" class="imghover"><img src="./images/coach_service_img_5.jpg" alt="" class="img-responsive"></a></div>
                        <div class="coach-service-content">
                            <span class="coach-service-meta text-default">Time management 
</span>
                            <h4 class="coach-service-title"><a href="#">Learn How To Effectively 
Manage Your Time</a></h4>
                        </div>
                    </div>
                </div>
                <!-- /.coach-service -->
                <!-- coach-service -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="coach-service-block">
                        <div class="coach-service-img"><a href="#" class="imghover"><img src="./images/coach_service_img_6.jpg" alt="" class="img-responsive"></a></div>
                        <div class="coach-service-content">
                            <span class="coach-service-meta text-yellow">Financial playbook</span>
                            <h4 class="coach-service-title"><a href="#">Money Related Freedom Isn't Only For The Rich</a></h4>
                        </div>
                    </div>
                </div>
                <!-- /.coach-service -->
            </div>
        </div>
    </div>
    <!--/.coachservice-section -->
{% endblock body %}