{% extends 'base.html' %}
{% load static %}
{% block title %}Coaching {% endblock title %}
{% block topBar %}
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
                    <ul>
                        <li><a href="{{ company.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{ company.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="{{ company.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="{{ company.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li>|</li>
                        <li>{{ company.phone_no }}</li>
                    </ul>
                </div>{% endblock topBar %}
{% block body %}
    <!-- page-header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h1 class="page-title">Coaching Single</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>coaching Single</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- coachservice-section -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="coach-description">
                        <div class="mb30"> <img src="{% static 'images/coach_service_big_1.jpg' %}" alt="" class="img-responsive"></div>
                        <span class="coach-service-meta text-primary">{{ training.category }}</span>
                        <h2>{{ training.name }}</h2>

                        <p>{{ training.description | linebreaks }}</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <!-- sidenav-section -->
{#                    {% for category in training.post_category %}#}
{#                    <div class="sidenav">#}
{#                        <ul>#}
{#                            <li><a href="#"></a></li>#}
{#                        </ul>#}
{#                    </div>#}
{#                    {% endfor %}#}
                    <!-- /.sidenav-section -->
                    <div class="widget-cta mb30">
                        <div class="widget-cta-icon">
                            <i class="icon-books-1 text-default"></i>
                        </div>
                        <div class="widget-ctae-content">
                            <h3>Get Amazing products now</h3>
                            <a href="{% url 'home:products' %}" class="btn btn-primary">View Our products</a>
                        </div>
                    </div>
                    <div class="widget-cta">
                        <div class="widget-cta-icon">
                            <img class="icon" src="{% static 'images/amazing_logo.png' %}">
                        </div>
                        <div class="widget-cta-content">
                            <h3>Learn more about Amazing quotes</h3>
                            <a href="{%  url 'home:about' %}" class="btn btn-primary">About amazing quotes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.coachservice-section -->
{% endblock body %}
{% block social %}
    <div class="footer-social">
                        <div class="" style="align-content: center; margin-left: 7rem; margin-right: auto; width: auto;">
                            <a href="{{ company.facebook }}" target="_blank" class="btn-social-rectangle btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="{{ company.twitter }}" target="_blank" class="btn-social-rectangle btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="{{ company.instagram }}" target="_blank" class="btn-social-rectangle btn-instagram"><i class="fa fa-instagram"></i></a>
                            <a href="{{ company.linkedin }}" target="_blank" class="btn-social-rectangle btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank" class="btn-social-rectangle btn-youtube"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
{% endblock social %}
{% block contact %}
      <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ft-logo"><img src="{% static 'images/amazing_logo_footer.png' %}" alt=""></div>
                    <div class="footer-widget">
                        <div class="contact-info">
                            <span class="contact-text">{{ company.address }}</span>
                        </div>
                        <div class="contact-info">
                            <span class="contact-text">{{ company.phone_no }}</span>
                        </div>
                    </div>
                </div>
{% endblock contact %}