{% extends 'base.html' %}
{% load static %}
{% block title %} Events{% endblock title %}
{% block topBar %}
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
                    <ul>
                        <li><a href="{{ company.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{ company.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="{{ company.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="{{ company.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li>|</li>
                        <li>{{ company.phone_no }}</li>
                    </ul>
                </div>{% endblock topBar %}
{% block body %}
    <!-- page-header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h1 class="page-title">Events</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'home:mainPage' %}">Home</a></li>
                            <li>Events</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- Event-section -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
            {% if events %}
                {% for event in events %}
                <!-- event-block -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="event-post-block">
                        <div class="event-post-content">
                            <div class=" meta meta-category"><a href="#" class=" text-primary">{{ event.type_of_event }}</a></div>
                            <h3 class="mb30"><a href="#" class="title title-bold ">{{ event.name }}</a></h3>
                            <p class="mb10"> <span class="event-location-icon"><i class="fa fa-map-marker"></i></span>{{ event.location }}</p>
                            <p> <span class="event-time-icon"><i class="fa fa-clock-o"></i></span>{{ event.time | date }} | <strong>{{ event.time | time }} </strong></p>
                            <p><span class="event-time-icon"><i class="fa fa-money"></i> </span>{% if event.price == 0 %}Free {% else %}{{ event.price }}{% endif %}</p>
                            <a href="{% url 'home:event' id=event.id %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- /.event-block -->
                 {% endfor %}
                {% else %}
                <h3 class="mb30"><a href="{% url 'home:mainPage' %}" class="title title-bold ">There are currently no events.</a></h3>
            {% endif %}
            </div>
        </div>
    </div>
    <!--/.events-section -->
{% endblock body %}
{% block social %}
    <div class="footer-social">
                        <div class="" style="align-content: center; margin-left: 7rem; margin-right: auto; width: auto;">
                            <a href="{{ company.facebook }}" target="_blank" class="btn-social-rectangle btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="{{ company.twitter }}" target="_blank" class="btn-social-rectangle btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="{{ company.instagram }}" target="_blank" class="btn-social-rectangle btn-instagram"><i class="fa fa-instagram"></i></a>
                            <a href="{{ company.linkedin }}" target="_blank" class="btn-social-rectangle btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" target="_blank" class="btn-social-rectangle btn-youtube"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
{% endblock social %}
{% block contact %}
      <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ft-logo"><img src="{% static 'images/amazing_logo_footer.png' %}" alt=""></div>
                    <div class="footer-widget">
                        <div class="contact-info">
                            <span class="contact-text">{{ company.address }}</span>
                        </div>
                        <div class="contact-info">
                            <span class="contact-text">{{ company.phone_no }}</span>
                        </div>
                    </div>
                </div>
{% endblock contact %}