{% extends 'base.html' %}
{% load static %}
{% block title %}home{% endblock title %}
{% block body %}
    <!-- slider -->
    <div class="slider">
        <div class="owl-carousel owl-one owl-theme">
            <div class="item">
                <div class="slider-img"> <img src="{% static 'images/slider_1.jpg' %}" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
                            <div class="slider-captions">
                                <h1 class="slider-title">We are Amazing Quotes</h1>
                                <h3>We motivate people to become better</h3>
                                <p class="hidden-sm hidden-xs hidden-md">Close the gap between where you are today & where you want to be...</p>
                                <a href="#" class="btn btn-primary  hidden-xs">Learn More</a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"> <img src="{% static 'images/slider_2.jpg' %}" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">
                             <div class="slider-captions">
                                <h1 class="slider-title">Quote of the Day</h1>
{#                                <h3>Read My Latest Book</h3>#}
{#                                <p class="hidden-sm hidden-xs hidden-md">Enduring, energetic love isn't something you discover of good fortune — it's something you make.</p>#}
{#                                <a href="#" class="btn btn-primary hidden-xs">Shop Now</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="item">#}
{#                <div class="slider-img"> <img src=".{% static 'images/slider_3.jpg' %}" alt=""></div>#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-right">#}
{#                            <div class="slider-captions">#}
{#                                <h1 class="slider-title">Life Coach Website Template</h1>#}
{#                                <h3>Free Website Templates</h3>#}
{#                                <p class="hidden-sm hidden-xs hidden-md">Nunc utnisi sapivamus auctor hendrerit feliseu interlente squesed aliquet velitin viverraorci.</p>#}
{#                                <a href="#" class="btn btn-primary  hidden-xs">Download Now</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
    <!-- /.slider -->
    <!-- coachservice-section -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <!-- coach-service -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="coach-service-block">
                        <div class="coach-service-img"><a href="#" class="imghover"><img src="{% static '/images/coach_service_img_1.jpg' %}" alt="" class="img-responsive"></a></div>
                        <div class="coach-service-content">
                            <span class="coach-service-meta text-primary">Life Coaching</span>
                            <h4 class="coach-service-title"><a href="#">Every Single Incredible 
                            Achiever Have A Coach</a></h4>
                        </div>
                    </div>
                </div>
                <!-- /.coach-service -->
                <!-- coach-service -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="coach-service-block">
                        <div class="coach-service-img"><a href="#" class="imghover"><img src="{% static '/images/coach_service_img_2.jpg' %}" alt="" class="img-responsive"></a></div>
                        <div class="coach-service-content">
                            <span class="coach-service-meta text-default">Relationship 
</span>
                            <h4 class="coach-service-title"><a href="#">Make A Healthy Relationship 
You Deserve</a></h4>
                        </div>
                    </div>
                </div>
                <!-- /.coach-service -->
                <!-- coach-service -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="coach-service-block">
                        <div class="coach-service-img"><a href="#" class="imghover"><img src="{% static '/images/coach_service_img_3.jpg' %}" alt="" class="img-responsive"></a></div>
                        <div class="coach-service-content">
                            <span class="coach-service-meta text-yellow">Leadership</span>
                            <h4 class="coach-service-title"><a href="#">Being A Leader With Clear 
Vision & Guide Their Team</a></h4>
                        </div>
                    </div>
                </div>
                <!-- /.coach-service -->
            </div>
        </div>
    </div>
    <!--/.coachservice-section -->
    <!-- about-section -->
    <div class="space-medium bg-gradient">
        <div class="container">
            <div class="row">
                <!-- about-description -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="about-me">
                        <h2 class="about-title">John Doe</h2>
                        <p class="lead">Achieve your personal goals with life coaching.</p>
                        <p class="mb30">John Doe is entrepreneur, best-selling author, philanthropist and the nation’s #1 Life and Business Strategist, and redentialed Life Coach and Spiritual Counselor with over a decade of experience. For more information, please view my bio page using below link.</p>
                        <a href="#" class="btn btn-primary btn-lg  mb20">more about john</a>&nbsp; &nbsp; &nbsp;
                        <a href="#" class="btn-link hidden-xs">view all my books</a>
                    </div>
                </div>
                <!-- /.about-description -->
                <!-- about-profile -->
                <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
                    <div class="profile-img">
                        <img src="{% static '/images/profile_img.jpg' %}" alt="" class="img-responsive">
                    </div>
                </div>
                <!-- /.about-profile -->
            </div>
        </div>
    </div>
    <!-- /.about-section -->
    <!-- feature-section -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="cta-single-line-text">
                        <h2 class="cta-single-title">Want to Improve Your Career & Grow Your Business?</h2>
                        <a href="#" class="btn btn-default">Schedule Your Coaching Session</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- feature-boxed -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="widget-cta">
                        <div class="widget-cta-icon">
                            <i class="icon-headset-1 text-primary"></i>
                        </div>
                        <div class="widget-cta-content">
                            <h3>Listen To The Latest Podcasts Now</h3>
                            <a href="#" class="btn btn-primary">Listen All Podcast</a>
                        </div>
                    </div>
                </div>
                <!-- /.feature-boxed -->
                <!-- feature-boxed -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="widget-cta">
                        <div class="widget-cta-icon">
                            <i class="icon-books-1 text-default"></i>
                        </div>
                        <div class="widget-cta-content">
                            <h3>See My Books, Can Change Your Life</h3>
                            <a href="#" class="btn btn-primary">View All books</a>
                        </div>
                    </div>
                </div>
                <!-- /.feature-boxed -->
                <!-- feature-boxed -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="widget-cta">
                        <div class="widget-cta-icon">
                            <i class="icon-calendar-1 text-yellow"></i>
                        </div>
                        <div class="widget-cta-content">
                            <h3>Confirm Your Seat, For Featured Events</h3>
                            <a href="#" class="btn btn-primary">View All Events</a>
                        </div>
                    </div>
                </div>
                <!-- /.feature-boxed -->
            </div>
        </div>
    </div>
    <!-- /.feature-section -->
    <!-- review-section -->
    <div class="bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="myCarousel" class="vertical-slider carousel vertical slide col-md-12" data-ride="carousel">
                        <br />
                        <!-- Carousel items -->
                        <div class="row">
                            <div class="col-md-4">
                                <span data-slide="next" class="vertical-prew btn-vertical-slider"
"><i class="icon-up-arrow-2"></i></span>
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="testimonial-section">
                                            <div class="testimonial-content">
                                                <h3 class="testimonial-title">Edgar Stlouis</h3>
                                                <p class="testi-meta">Business Owner</p>
                                                <p class="testimonial-text">“Eleifend exauctor ultricies justo acposere maxse”</p>
                                                <p>Sevamus vehicula elit duieu molestie arcu eleifend sed. In faucibus nisi nec aliquam elementunc eros eauctor ultricies justo acposere maximus magnliquam et mauris ultrullamcorper.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
                                        <a href="#"> <img src="{% static '/images/testi_img_1.jpg' %}" alt="" class="img-responsive"
                                ></a>
                                    </div>
                                </div>
                                <!--/row-fluid-->
                            </div>
                            <!--/item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="testimonial-section">
                                            <div class="testimonial-content">
                                                <h3 class="testimonial-title">Robert Barreto</h3>
                                                <p class="testi-meta">Business Owner</p>
                                                <p class="testimonial-text">“Pellentesque venenatis quisenim neecenas diam”</p>
                                                <p>Morbi tempor gravida pulvinauis risus nisi, placerat utleo incondimentum suscipit enimn dolor nuncultricies necmetus uultricies consectetur diamuspendisse acinia pulvinar egestas In posuere efficitur risusnon tempor mauris imperdiete. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
                                        <a href="#"> <img src="{% static '/images/testi_img_2.jpg' %}" alt="" class="img-responsive"
                              ></a>
                                    </div>
                                </div>
                                <!--/row-fluid-->
                            </div>
                            <!--/item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="testimonial-section">
                                            <div class="testimonial-content">
                                                <h3 class="testimonial-title">Lucille Teixeira</h3>
                                                <p class="testi-meta">Couple</p>
                                                <p class="testimonial-text">“Aenean eros semmollis tempor libero vitaeegestas”</p>
                                                <p>Vivamus dictum ipsum rhoncus pulvinar nullaid consectetur mauonec turpis massa auctor aipsum vitae porttitor fermentum justoonec necarcu adolor scelerque ultrices euut velituiset ligula urnaroin tempor augue duivel ultrices urnaleifend.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
                                        <a href="#"> <img src="{% static '/images/testi_img_3.jpg' %}" alt="" class="img-responsive"
                               ></a>
                                    </div>
                                </div>
                                <!--/row-fluid-->
                            </div>
                            <!--/item-->
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span data-slide="prev" class="vertical-next btn-vertical-slider" ><i class="icon-down-arrow-2"></i></span>
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/. review-section -->
    <!--post-section -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="posthome-img">
                        <img src="{% static '/images/post_home_img_1.jpg' %}" alt="" class="img-responsive">
                        <div class="post-caption">
                            <a href="#">Read All Articles</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 pdt30">
                    <div class="post-block">
                        <!-- post block -->
                        <div class="post-content">
                            <div class="meta"><a href="#" class="meta-categories text-primary">Life Coaching</a></div>
                            <h3 class="post-title"><a href="#" class="title">Business Coach Website Template</a></h3>
                            <div class="meta">
                                <span class="meta-date"><i class="fa fa-calendar"></i> &nbsp;25 December, 2020 </span>
                                <span>| &nbsp; &nbsp;</span>
                                <span class="meta-date"><i class="fa fa-comments-o"></i> &nbsp;14 </span>
                            </div>
                        </div>
                    </div>
                    <div class="post-block">
                        <!-- post block -->
                        <div class="post-content">
                            <div class="meta"><a href="#" class="meta-categories text-default">Business Coaching</a></div>
                            <h3 class="post-title"><a href="#" class="title">Free Responsive Website Template</a></h3>
                            <div class="meta">
                                <span class="meta-date"><i class="fa fa-calendar"></i> &nbsp;24 December, 2020 </span>
                                <span>| &nbsp; &nbsp;</span>
                                <span class="meta-date"><i class="fa fa-comments-o"></i> &nbsp;02 </span>
                            </div>
                        </div>
                    </div>
                    <div class="post-block">
                        <!-- post block -->
                        <div class="post-content">
                            <div class="meta"><a href="#" class="meta-categories text-yellow">Relationship Guide</a></div>
                            <h3 class="post-title"><a href="#" class="title">Free Bootstrap Responsive Templates</a></h3>
                            <div class="meta">
                                <span class="meta-date"><i class="fa fa-calendar"></i> &nbsp;23 December, 2020 </span>
                                <span>| &nbsp; &nbsp;</span>
                                <span class="meta-date"><i class="fa fa-comments-o"></i> &nbsp;06 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.post-section -->
    <!-- video-section -->
    <div class="video-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Featured Videos</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- video-img -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopl nopr">
                    <div class="video-img">
                        <img src="{% static '/images/video_img_1.jpg' %}" alt="" class="img-responsive">
                        <a id="play-video" class="video-play-button" href="#"> <span><i class="fa fa-play"></i></span>
</a>
                        <div id="video-overlay" class="video-overlay">
                            <a class="video-overlay-close">&times;</a>
                        </div>
                    </div>
                </div>
                <!-- /.video-img -->
                <!-- video-img -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopl nopr">
                    <div class="video-img">
                        <img src="{% static '/images/video_img_2.jpg' %}" alt="" class="img-responsive">
                        <a id="play-video2" class="video-play-button" href="#">  <span><i class="fa fa-play"></i></span>
</a>
                        <div id="video-overlay" class="video-overlay">
                            <a class="video-overlay-close">&times;</a>
                        </div>
                    </div>
                </div>
                <!-- /.video-img -->
                <!-- video-img -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 nopr nopl">
                    <div class="video-img">
                        <img src="{% static '/images/video_img_3.jpg' %}" alt="" class="img-responsive">
                        <a id="play-video3" class="video-play-button" href="#"><span><i class="fa fa-play"></i></span>
</a>
                        <div id="video-overlay" class="video-overlay">
                            <a class="video-overlay-close">&times;</a>
                        </div>
                    </div>
                </div>
                <!-- /.video-img -->
            </div>
        </div>
    </div>
    <!-- video-section -->{% endblock body %}