{% extends 'base.html' %}
{% load static %}
{% block title %} Product {% endblock title %}
{% block body %}
    <!-- page-header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h1 class="page-title">Podcast Single</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>Podcast List</li>
                            <li>Podcast Single</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- podcast-section-->
    <div class="content">
        <div class="container">
            <div class="row">
                <!-- podcast detail -->
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="podcast-block">
                        <div class="">
                            <h2 class="title-bold mb30"><a href="#">Every Single Incredible Achiever Have A Coach</a></h2>
                            <!-- podcast player -->
                            <div class="pcast-player">
                                <div class="pcast-player-controls">
                                    <button class="pcast-play"><i class="fa fa-play"></i><span></span></button>
                                    <button class="pcast-pause"><i class="fa fa-pause"></i><span></span></button>
                                    <button class="pcast-rewind"><i class="fa fa-fast-backward"></i><span></span></button>
                                    <span class="pcast-currenttime pcast-time">00:00</span>
                                    <progress class="pcast-progress" value="0"></progress>
                                    <span class="pcast-duration pcast-time">00:00</span>
                                    <button class="pcast-speed">1x</button>
                                    <button class="pcast-mute"><i class="fa fa-volume-up"></i><span></span></button>
                                    <audio src="https://s3.amazonaws.com/ShopTalk/080_rapidfire_19.mp3"></audio>
                                    <a class="pcast-download" href="https://s3.amazonaws.com/ShopTalk/080_rapidfire_19.mp3" download>
                                        <div class="pcast-mute text-light"><i class="fa fa-download"></i><span></span></div>
                                    </a>
                                </div>
                            </div>
                            <!-- /.podcast player -->
                            <a href="#" class="btn btn-primary btn-sm mb10"><i class="fa fa-play"></i> &nbsp; Listen now</a>
                            <a href="#" class="btn btn-default btn-sm mb10"><i class="fa fa-download"></i>&nbsp; Download Mp3</a>
                            <a href="#" class="btn btn-secondary btn-sm mb10"><i class="fa fa-music"></i>&nbsp; Listen In itunes</a>
                        </div>
                    </div>
                    <!-- /.podcast detail -->
                    <!-- podcast description -->
                    <p>Maurissit ametest turpistiam exeget leo dignissim sagittis in ut iquam feugiat dui arcueget one tempus leo <strong>fringillasit auspendisse sapienquam malesuada tincidunt urna sollicitudin</strong>vulputate pharetra nibh. Integer placerat metus in tempor consequat. Sed venenatis purus siteser amet velit lacinia ullamcoendisse sapien quam malesuada tincidunt.</p>
                    <p class="mb40">Aliquam feugiat duiarcu eget tempus leofringilla sit amet. Suspendisse sapien quammalesuada tincidunt urna sollicitudin vulputate pharetra nibhnteger placerat metusin tempos.</p>
                    <div class="bg-box mb30">
                        <h4 class="title-bold">Show Notes</h4>
                        <ul>
                            <li><strong>[00:08]</strong> Introduction</li>
                            <li><strong>[02:50] </strong> John introduces today topic</li>
                            <li><strong>[05:30]</strong> Mauris eleifend aliquet coque habitant morbi</li>
                            <li><strong>[06:00]</strong> Aenean eu quam ami rutrum euismod sitamet</li>
                            <li><strong>[07:00]</strong> Praesent tortor exauctor nec condimentum etmollis in enim</li>
                            <li><strong>[07:30]</strong> Donec aliquet gravida urnased vehicula quamncus risus velerat</li>
                            <li><strong>[08:15]</strong> Quisque mattis erosnec odio commodo vel vestibulum sapien tincidunt</li>
                        </ul>
                    </div>
                    <!-- /.podcast description -->
                    <!--comments start-->
                    <div class="comment-area">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="">
                                    <h3 class="mb30">Comments (03)</h3>
                                    <ul class="comment-list">
                                        <li>
                                            <div class="comment-author"><img src="images/user_img_1.jpg" alt="" class="img-circle"></div>
                                            <div class="comment-info">
                                                <div class="comment-header">
                                                    <h5 class="comment-title">Abigail Boatright</h5>
                                                    <span class="comment-meta-date">25 December, 2020</span>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Donec ullamcorper maximus ipsumin sodale aliquam vmentume.</p>
                                                </div>
                                                <div class="comment-btn"><a href="#" class="btn-link mb30">Reply</a> </div>
                                            </div>
                                            <ul class="childern">
                                                <li>
                                                    <div class="comment-author"><img src="images/user_img_2.jpg" alt="" class="img-circle"></div>
                                                    <div class="comment-info">
                                                        <div class="comment-header">
                                                            <h5 class="comment-title">Lashonda Adam</h5>
                                                            <span class="comment-meta-date">25 December, 2020</span>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p>Nam posuere tortor blandit ullamcorper risuiet ipsumqua.</p>
                                                        </div>
                                                        <div class="comment-btn"><a href="#" class="btn-link mb30">Reply</a> </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="comment-list">
                                        <li>
                                            <div class="comment-author"> <img src="images/user_img_3.jpg" alt="" class="img-circle"> </div>
                                            <div class="comment-info">
                                                <div class="comment-header">
                                                    <h5 class="comment-title">Connie Oneil</h5>
                                                    <span class="comment-meta-date">25 December, 2020</span>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Aenean varius ligulain pretium convallismiantetusnec maximusnisl.</p>
                                                </div>
                                                <div class="comment-btn"><a href="#" class="btn-link mb30">Reply</a> </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--comments close-->
                    <!-- leave comments -->
                    <div class="leave-comments">
                        <h3>Leave A Reply</h3>
                        <form>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label required sr-only " for="name"></label>
                                        <input name="name" type="text" class="form-control" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label required  sr-only" for="email"></label>
                                        <input name="email" type="email" class="form-control" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label required  sr-only" for="subject"></label>
                                        <input name="subject" type="text" class="form-control" placeholder="subject" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-md-12 col-xs-12 mb20">
                                    <div class="form-group">
                                        <label class="control-label sr-only" for="textarea"></label>
                                        <textarea class="form-control pdt20" id="textarea" name="textarea" rows="4" placeholder="Comments"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Leave Reply</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.leave comments -->
                </div>
                <!-- /.podcast list -->
            </div>
        </div>
    </div>
    <!-- /.podcast-section-->
{% endblock body %}