<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title> John Deo Life Coach Template - Podcast Single Page </title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i%7CPT+Serif:400,400i,700,700i" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- top-header-section-->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                    <p class="welcome-text">Welcome to life coach website.</p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li>|</li>
                        <li>+180-123-4567</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-toggel">
        <a href="#" id="dots" class="dots-icon"><i class="fa fa-ellipsis-v visible-xs"></i></a>
    </div>
    <!-- /.top-header-section-->
    <!-- header-section-->
    <div class="header-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="logo">
                        <a href="index.html"><img src="./images/logo.png" alt=""> </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <!-- navigations-->
                    <div class="navigation">
                        <div id="navigation">
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li class="has-sub"><a href="#">Coaching</a>
                                    <ul>
                                        <li><a href="coaching-list.html">Coaching List</a></li>
                                        <li><a href="coaching-single.html">Coaching Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About me</a></li>
                                <li class="has-sub"><a href="#">Article</a>
                                    <ul>
                                        <li><a href="blog-default.html">Articles</a></li>
                                        <li><a href="blog-single.html">Article Single</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="testimonials.html">Client Stories</a> </li>
                                        <li><a href="events.html">Events</a> </li>
                                        <li><a href="event-single.html">Event Single</a> </li>
                                        <li><a href="books.html">books</a> </li>
                                        <li><a href="podcast.html">Podcast List</a></li>
                                        <li><a href="podcast-single.html">Podcast Single</a></li>
                                        <li><a href="video-gallery.html">Video Gallery</a> </li>
                                        <li><a href="accordion.html">Accordion</a> </li>
                                        <li><a href="404-page.html">404 page</a> </li>
                                        <li><a href="styleguide.html">styleguide</a> </li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Ask me</a></li>
                                <li><a href="template-feature.html">Template Feature</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.navigations-->
                </div>
            </div>
        </div>
    </div>
    <!-- /. header-section-->
    <!-- page-header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h1 class="page-title">Podcast Single</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>Podcast List</li>
                            <li>Podcast Single</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- podcast-section-->
    <div class="content">
        <div class="container">
            <div class="row">
                <!-- podcast detail -->
                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="podcast-block">
                        <div class="">
                            <h2 class="title-bold mb30"><a href="#">Every Single Incredible Achiever Have A Coach</a></h2>
                            <!-- podcast player -->
                            <div class="pcast-player">
                                <div class="pcast-player-controls">
                                    <button class="pcast-play"><i class="fa fa-play"></i><span></span></button>
                                    <button class="pcast-pause"><i class="fa fa-pause"></i><span></span></button>
                                    <button class="pcast-rewind"><i class="fa fa-fast-backward"></i><span></span></button>
                                    <span class="pcast-currenttime pcast-time">00:00</span>
                                    <progress class="pcast-progress" value="0"></progress>
                                    <span class="pcast-duration pcast-time">00:00</span>
                                    <button class="pcast-speed">1x</button>
                                    <button class="pcast-mute"><i class="fa fa-volume-up"></i><span></span></button>
                                    <audio src="https://s3.amazonaws.com/ShopTalk/080_rapidfire_19.mp3"></audio>
                                    <a class="pcast-download" href="https://s3.amazonaws.com/ShopTalk/080_rapidfire_19.mp3" download>
                                        <div class="pcast-mute text-light"><i class="fa fa-download"></i><span></span></div>
                                    </a>
                                </div>
                            </div>
                            <!-- /.podcast player -->
                            <a href="#" class="btn btn-primary btn-sm mb10"><i class="fa fa-play"></i> &nbsp; Listen now</a>
                            <a href="#" class="btn btn-default btn-sm mb10"><i class="fa fa-download"></i>&nbsp; Download Mp3</a>
                            <a href="#" class="btn btn-secondary btn-sm mb10"><i class="fa fa-music"></i>&nbsp; Listen In itunes</a>
                        </div>
                    </div>
                    <!-- /.podcast detail -->
                    <!-- podcast description -->
                    <p>Maurissit ametest turpistiam exeget leo dignissim sagittis in ut iquam feugiat dui arcueget one tempus leo <strong>fringillasit auspendisse sapienquam malesuada tincidunt urna sollicitudin</strong>vulputate pharetra nibh. Integer placerat metus in tempor consequat. Sed venenatis purus siteser amet velit lacinia ullamcoendisse sapien quam malesuada tincidunt.</p>
                    <p class="mb40">Aliquam feugiat duiarcu eget tempus leofringilla sit amet. Suspendisse sapien quammalesuada tincidunt urna sollicitudin vulputate pharetra nibhnteger placerat metusin tempos.</p>
                    <div class="bg-box mb30">
                        <h4 class="title-bold">Show Notes</h4>
                        <ul>
                            <li><strong>[00:08]</strong> Introduction</li>
                            <li><strong>[02:50] </strong> John introduces today topic</li>
                            <li><strong>[05:30]</strong> Mauris eleifend aliquet coque habitant morbi</li>
                            <li><strong>[06:00]</strong> Aenean eu quam ami rutrum euismod sitamet</li>
                            <li><strong>[07:00]</strong> Praesent tortor exauctor nec condimentum etmollis in enim</li>
                            <li><strong>[07:30]</strong> Donec aliquet gravida urnased vehicula quamncus risus velerat</li>
                            <li><strong>[08:15]</strong> Quisque mattis erosnec odio commodo vel vestibulum sapien tincidunt</li>
                        </ul>
                    </div>
                    <!-- /.podcast description -->
                    <!--comments start-->
                    <div class="comment-area">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="">
                                    <h3 class="mb30">Comments (03)</h3>
                                    <ul class="comment-list">
                                        <li>
                                            <div class="comment-author"><img src="images/user_img_1.jpg" alt="" class="img-circle"></div>
                                            <div class="comment-info">
                                                <div class="comment-header">
                                                    <h5 class="comment-title">Abigail Boatright</h5>
                                                    <span class="comment-meta-date">25 December, 2020</span>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Donec ullamcorper maximus ipsumin sodale aliquam vmentume.</p>
                                                </div>
                                                <div class="comment-btn"><a href="#" class="btn-link mb30">Reply</a> </div>
                                            </div>
                                            <ul class="childern">
                                                <li>
                                                    <div class="comment-author"><img src="images/user_img_2.jpg" alt="" class="img-circle"></div>
                                                    <div class="comment-info">
                                                        <div class="comment-header">
                                                            <h5 class="comment-title">Lashonda Adam</h5>
                                                            <span class="comment-meta-date">25 December, 2020</span>
                                                        </div>
                                                        <div class="comment-content">
                                                            <p>Nam posuere tortor blandit ullamcorper risuiet ipsumqua.</p>
                                                        </div>
                                                        <div class="comment-btn"><a href="#" class="btn-link mb30">Reply</a> </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="comment-list">
                                        <li>
                                            <div class="comment-author"> <img src="images/user_img_3.jpg" alt="" class="img-circle"> </div>
                                            <div class="comment-info">
                                                <div class="comment-header">
                                                    <h5 class="comment-title">Connie Oneil</h5>
                                                    <span class="comment-meta-date">25 December, 2020</span>
                                                </div>
                                                <div class="comment-content">
                                                    <p>Aenean varius ligulain pretium convallismiantetusnec maximusnisl.</p>
                                                </div>
                                                <div class="comment-btn"><a href="#" class="btn-link mb30">Reply</a> </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--comments close-->
                    <!-- leave comments -->
                    <div class="leave-comments">
                        <h3>Leave A Reply</h3>
                        <form>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label required sr-only " for="name"></label>
                                        <input name="name" type="text" class="form-control" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label required  sr-only" for="email"></label>
                                        <input name="email" type="email" class="form-control" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label required  sr-only" for="subject"></label>
                                        <input name="subject" type="text" class="form-control" placeholder="subject" required>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-md-12 col-xs-12 mb20">
                                    <div class="form-group">
                                        <label class="control-label sr-only" for="textarea"></label>
                                        <textarea class="form-control pdt20" id="textarea" name="textarea" rows="4" placeholder="Comments"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Leave Reply</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.leave comments -->
                </div>
                <!-- /.podcast list -->
            </div>
        </div>
    </div>
    <!-- /.podcast-section-->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb60">
                    <div class="footer-social">
                        <div class="">
                            <a href="#" class="btn-social-rectangle btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn-social-rectangle btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn-social-rectangle btn-googleplus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="btn-social-rectangle btn-instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="btn-social-rectangle btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="btn-social-rectangle btn-youtube"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- footer-contact links -->
                <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ft-logo"><img src="./images/ft_logo.png" alt=""></div>
                    <div class="footer-widget">
                        <div class="contact-info">
                            <span class="contact-text">951 Meadow View Drive Bristol,USA06010 </span>
                        </div>
                        <div class="contact-info">
                            <span class="contact-text">+180-123-4567</span>
                        </div>
                    </div>
                </div>
                <!-- /.footer-useful links -->
                <!-- footer-company-links -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Quick Links</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul>
                                    <li><a href="#">Home </a></li>
                                    <li><a href="#">Coaching</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Article</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul>
                                    <li><a href="#">Podcast</a></li>
                                    <li><a href="#">Books</a></li>
                                    <li><a href="#">Ask me</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.footer-services-links -->
                <!-- newsletter -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Join Our Newsletter!</h3>
                        <p>Get inspiration and education delivered to your inbox.</p>
                        <form>
                            <!-- input-group -->
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Here" aria-describedby="basic-addon2">
                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="fa fa-paper-plane"></i></span>
                            </div>
                            <!-- /.input-group -->
                        </form>
                    </div>
                </div>
                <!-- /.newsletter -->
            </div>
            <!-- tiny-footer -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="tiny-footer">
                        <p>Copyright © All Rights Reserved 2020 Template Design by
                            <a href="https://easetemplate.com/" target="_blank" class="copyrightlink">EaseTemplate</a></p>
                    </div>
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
    <!-- /.footer -->
     <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/sticky-header.js"></script>
    <script type="text/javascript">
    $("#dots").click(function() {
        $(".top-header").toggle("slow", function() {
            // Animation complete.
        });
    });
    </script>
    <script type="text/javascript">
    (function() {

        var pcastPlayers = document.querySelectorAll('.pcast-player');
        var speeds = [1, 1.5, 2, 2.5, 3]

        for (i = 0; i < pcastPlayers.length; i++) {
            var player = pcastPlayers[i];
            var audio = player.querySelector('audio');
            var play = player.querySelector('.pcast-play');
            var pause = player.querySelector('.pcast-pause');
            var rewind = player.querySelector('.pcast-rewind');
            var progress = player.querySelector('.pcast-progress');
            var speed = player.querySelector('.pcast-speed');
            var mute = player.querySelector('.pcast-mute');
            var currentTime = player.querySelector('.pcast-currenttime');
            var duration = player.querySelector('.pcast-duration');

            var currentSpeedIdx = 0;

            pause.style.display = 'none';

            var toHHMMSS = function(totalsecs) {
                var sec_num = parseInt(totalsecs, 10); // don't forget the second param
                var hours = Math.floor(sec_num / 3600);
                var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
                var seconds = sec_num - (hours * 3600) - (minutes * 60);

                if (hours < 10) { hours = "0" + hours; }
                if (minutes < 10) { minutes = "0" + minutes; }
                if (seconds < 10) { seconds = "0" + seconds; }

                var time = hours + ':' + minutes + ':' + seconds;
                return time;
            }

            audio.addEventListener('loadedmetadata', function() {
                progress.setAttribute('max', Math.floor(audio.duration));
                duration.textContent = toHHMMSS(audio.duration);
            });

            audio.addEventListener('timeupdate', function() {
                progress.setAttribute('value', audio.currentTime);
                currentTime.textContent = toHHMMSS(audio.currentTime);
            });

            play.addEventListener('click', function() {
                this.style.display = 'none';
                pause.style.display = 'inline-block';
                pause.focus();
                audio.play();
            }, false);

            pause.addEventListener('click', function() {
                this.style.display = 'none';
                play.style.display = 'inline-block';
                play.focus();
                audio.pause();
            }, false);

            rewind.addEventListener('click', function() {
                audio.currentTime -= 30;
            }, false);

            progress.addEventListener('click', function(e) {
                audio.currentTime = Math.floor(audio.duration) * (e.offsetX / e.target.offsetWidth);
            }, false);

            speed.addEventListener('click', function() {
                currentSpeedIdx = currentSpeedIdx + 1 < speeds.length ? currentSpeedIdx + 1 : 0;
                audio.playbackRate = speeds[currentSpeedIdx];
                this.textContent = speeds[currentSpeedIdx] + 'x';
                return true;
            }, false);

            mute.addEventListener('click', function() {
                if (audio.muted) {
                    audio.muted = false;
                    this.querySelector('.fa').classList.remove('fa-volume-off');
                    this.querySelector('.fa').classList.add('fa-volume-up');
                } else {
                    audio.muted = true;
                    this.querySelector('.fa').classList.remove('fa-volume-up');
                    this.querySelector('.fa').classList.add('fa-volume-off');
                }
            }, false);
        }
    })(this);
    </script>
    <script type="text/javascript" src="js/return-to-top.js">     
</script>

</body>

</html>