<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title> John Deo Life Coach Template - Styleguide Page </title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i%7CPT+Serif:400,400i,700,700i" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- top-header-section-->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                    <p class="welcome-text">Welcome to life coach website.</p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li>|</li>
                        <li>+180-123-4567</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-toggel">
        <a href="#" id="dots" class="dots-icon"><i class="fa fa-ellipsis-v visible-xs"></i></a>
    </div>
    <!-- /.top-header-section-->
    <!-- header-section-->
    <div class="header-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="logo">
                        <a href="index.html"><img src="./images/logo.png" alt=""> </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <!-- navigations-->
                    <div class="navigation">
                        <div id="navigation">
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li class="has-sub"><a href="#">Coaching</a>
                                    <ul>
                                        <li><a href="coaching-list.html">Coaching List</a></li>
                                        <li><a href="coaching-single.html">Coaching Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About me</a></li>
                                <li class="has-sub"><a href="#">Article</a>
                                    <ul>
                                        <li><a href="blog-default.html">Articles</a></li>
                                        <li><a href="blog-single.html">Article Single</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="testimonials.html">Client Stories</a> </li>
                                        <li><a href="events.html">Events</a> </li>
                                         <li><a href="event-single.html">Event Single</a> </li>
                                         <li><a href="books.html">books</a> </li>
                                        <li><a href="podcast.html">Podcast List</a></li>
                                        <li><a href="podcast-single.html">Podcast Single</a></li>
                                        <li><a href="video-gallery.html">Video Gallery</a> </li>
                                         <li><a href="accordion.html">Accordion</a> </li>
                                       
                                        <li><a href="404-page.html">404 page</a> </li>
                                        <li><a href="styleguide.html">styleguide</a> </li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Ask me</a></li>
                                <li><a href="template-feature.html">Template Feature</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.navigations-->
                </div>
            </div>
        </div>
    </div>
    <!-- /. header-section-->
    <!-- page-header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h1 class="page-title">Style Guide</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>styleguide</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- Fonts -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="mb30">Font Family</h2>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> <span>For Heading</span>
                    <h2 class="mt20">Pt Sans / Pt Serif </h2>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> <span>For Base</span>
                    <h2 class="mt20">Pt Sans</h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="mb30">Typography</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h1>H1 - Heading Title - 42px</h1>
                    <h2>H2 - Heading Title - 30px</h2>
                    <h3>H3 - Heading Title - 24px</h3>
                    <h4>H4 - Heading Title - 18px</h4>
                    <h5>H5 - Heading Title - 16px</h5>
                    <h6>H6 - Heading Title - 12px</h6>
                </div>
            </div>
            <!-- /.Fonts -->
            <hr>
            <!-- color -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <h2 class="mb30">Color Palette</h2>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center">
                    <div class="circle-default-color"></div>
                    <div class="box-info">
                        <h4 class="mt20">Default</h4>
                        <p>#f8591b</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center">
                    <div class="circle-primary-color"></div>
                    <div class="box-info">
                        <h4 class="mt20">Primary</h4>
                        <p>#34b2a4</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center">
                    <div class="circle-secondary-color"></div>
                    <div class="box-info">
                        <h4 class="mt20">Secondary</h4>
                        <p>#272d2c</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center">
                    <div class="circle-heading-color"></div>
                    <div class="box-info">
                        <h4 class="mt20">Heading</h4>
                        <p>#272d2c</p>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 text-center">
                    <div class="circle-paragraph-color"></div>
                    <div class="box-info">
                        <h4 class="mt20">Paragraph</h4>
                        <p>#525756</p>
                    </div>
                </div>
            </div>
            <!-- /.color-plate -->
            <hr>
            <!-- typography -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30">
                    <h2 class="mb30">Text</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae, dictum is et euismod sedroin vel rhoncus muisque mattis dictum etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitadictum nulla. Mauris et euismod sed nunc. </p>
                    <p class="lead">Consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae, dictum is et euismod sedroin vel rhoncus muisque mattis dictum etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae dictum nusmod sed nuncroin vel rhoncus maurisuisque mattism ipsum dolor sit amet consectetur adipiscing elit.</p>
                    <h3>Heading Title Here</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitae, dictum is et euismod sedroin vel rhoncus muisque mattis dictum etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitadictum nulla. Mauris et euismod sed nunc. </p>
                    <h4>Heading Title Here</h4>
                    <p>Etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitadictum nulla. Mauris et euismod sed nunce. </p>
                    <h5>Heading Title Here</h5>
                    <p>Etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet, cursus erat vitadictum nulla. Mauris et euismod sed nunce. </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb10">
                    <h2>Box</h2>
                    <div class="box">
                        <h3>Heading Title For Box</h3>
                        <p>Etiarem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus maurisuisque mattism ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lacus imperdiet cursus erat vitadictum nullaadipiscing elit. Fusce eu lacus impsus erat vitae, dictum nusmod sed nunc. Proin vel rhoncus . </p>
                    </div>
                </div>
            </div>
            <hr>
            <!-- /.typography -->
            <!-- list -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="mb30">List</h2>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>Unordered</h3>
                    <div class="unordered">
                        <ul class="arrow arrow-right">
                            <li>Dolor pulvinar etiam.</li>
                            <li>Sagittis lorem eleifend.</li>
                            <li>Felis feugiat dolore viverra.</li>
                            <li>Dolor pulvinar etiam.. </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3> Ordered </h3>
                    <div class="ordered">
                        <ol>
                            <li>Dolor pulvinar etiam.</li>
                            <li>Sagittis lorem eleifend.</li>
                            <li>Felis feugiat dolore viverra.</li>
                            <li>Dolor pulvinar etiam.</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h3>Altenate</h3>
                    <div class="altenate">
                        <ul>
                            <li>Dolor pulvinar etiam.</li>
                            <li>Sagittis lorem eleifend.</li>
                            <li>Felis feugiat dolore viverra.</li>
                            <li>Dolor pulvinar etiam.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <!-- /.list -->
            <!-- blockquote -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="mb30">Blockquote</h2>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12        col-xs-12">
                    <blockquote>
                        <div class="blockquote-content">
                            <p class="blockquote-text">“Cursus aliquam exvel consequat felis sollicitudin egeonec enim tortor feugiat nonenim one quisullamcorper facilisis niulla tristique urnased malesuada fermentum”
                            </p>
                        </div>
                    </blockquote>
                    <blockquote class="blockquote-reverse">
                        <div class="blockquote-content">
                            <p class="blockquote-text">“Cursus aliquam exvel consequat felis sollicitudin egeonec enim tortor feugiat nonenim one quisullamcorper facilisis niulla tristique urnased malesuada fermentum”
                            </p>
                        </div>
                    </blockquote>
                </div>
            </div>
            <hr>
            <!-- /.blockquote -->
            <!-- buttons -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="mb30">Buttons</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <a href="#" class="btn btn-default btn-xs mb20">Extra Small Button</a>
                    <br> <a href="#" class="btn btn-default btn-sm mb20">Small Button </a>
                    <br> <a href="#" class="btn btn-default mb20">Default Button </a>
                    <br>
                    <a href="#" class="btn btn-default btn-lg mb20">Large Button </a>
                    <br>
                    <a href="#" class="btn btn-default mb20"><i class="fa fa-download"></i> &nbsp;Button with Icon </a> </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"> <a href="#" class="btn btn-primary btn-xs mb20">Extra Small Button</a>
                    <br> <a href="#" class="btn btn-primary btn-sm mb20">Small Button </a>
                    <br> <a href="#" class="btn btn-primary mb20">Default Button </a>
                    <br> <a href="#" class="btn btn-primary btn-lg mb20">Large Button </a>
                    <br>
                    <a href="#" class="btn btn-primary mb20"><i class="fa fa-download"></i> &nbsp;Button with Icon </a> </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"> <a href="#" class="btn btn-secondary btn-xs mb20">Extra Small Button</a>
                    <br> <a href="#" class="btn btn-secondary btn-sm mb20">Small Button </a>
                    <br> <a href="#" class="btn btn-secondary mb20">Default Button </a>
                    <br> <a href="#" class="btn btn-secondary btn-lg mb20">Large Button </a>
                    <br>
                    <a href="#" class="btn btn-secondary mb20"><i class="fa fa-download"></i> &nbsp;Button with Icon </a> </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <h2>Link</h2>
                    <a href="#" class="btn-link mb20">link</a>
                </div>
            </div>
            <hr>
            <!-- /.buttons -->
            <!-- form -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="mb30">Form Elements</h2>
                </div>
                <form>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label sr-only">Input type</label>
                            <input type="text" class="form-control" placeholder="input Type">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label sr-only">Input type</label>
                            <input type="text" class="form-control focus" placeholder="input Type">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group has-success">
                            <label class="control-label sr-only">Input type</label>
                            <input type="text" class="form-control " placeholder="input Type">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group has-error">
                            <label class="control-label sr-only">Input type</label>
                            <input type="text" class="form-control" placeholder="input Type">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label sr-only required" for="select">input type selection</label>
                            <select id="select" name="select" class="form-control">
                                <option value="">select</option>
                                <option value="">select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label sr-only" for="textarea">textarea</label>
                            <textarea class="form-control pdt20" id="textarea" name="textarea" rows="6" placeholder="textarea"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" value="">
                            <span> Radio button </span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" value="option1" checked>
                            <span>Selected Radio button</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="">
                            <span>Check Box</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" checked="">
                            <span>Selected Check box</span>
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <!-- /.form -->
            <!-- table -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="mb30">Tables</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h3 class="mb20">Default Table</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <caption>
                                Optional table caption.
                            </caption>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.table -->
            <!-- table-striped -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h3 class="mb20">Striped Rows</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <caption>
                                Optional table caption.
                            </caption>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. table-striped -->
      <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb60">
                    <div class="footer-social">
                        <div class="">
                            <a href="#" class="btn-social-rectangle btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn-social-rectangle btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn-social-rectangle btn-googleplus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="btn-social-rectangle btn-instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="btn-social-rectangle btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="btn-social-rectangle btn-youtube"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- footer-contact links -->
                <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ft-logo"><img src="./images/ft_logo.png" alt=""></div>
                    <div class="footer-widget">
                        <div class="contact-info">
                            <span class="contact-text">951 Meadow View Drive Bristol,USA06010 </span>
                        </div>
                        <div class="contact-info">
                            <span class="contact-text">+180-123-4567</span>
                        </div>
                    </div>
                </div>
                <!-- /.footer-useful links -->
                <!-- footer-company-links -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Quick Links</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul>
                                    <li><a href="#">Home </a></li>
                                    <li><a href="#">Coaching</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Article</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul>
                                    <li><a href="#">Podcast</a></li>
                                    <li><a href="#">Books</a></li>
                                    <li><a href="#">Ask me</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.footer-services-links -->
                <!-- newsletter -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Join Our Newsletter!</h3>
                        <p>Get inspiration and education delivered to your inbox.</p>
                        <form>
                            <!-- input-group -->
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Here" aria-describedby="basic-addon2">
                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="fa fa-paper-plane"></i></span>
                            </div>
                            <!-- /.input-group -->
                        </form>
                    </div>
                </div>
                <!-- /.newsletter -->
            </div>
            <!-- tiny-footer -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="tiny-footer">
                        <p>Copyright © All Rights Reserved 2020 Template Design by
                            <a href="https://easetemplate.com/" target="_blank" class="copyrightlink">EaseTemplate</a></p>
                    </div>
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
    <!-- /.footer -->
     <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/sticky-header.js"></script>
    <script type="text/javascript">
    $("#dots").click(function() {
        $(".top-header").toggle("slow", function() {
            // Animation complete.
        });
    });
    </script>
    <script type="text/javascript" src="js/return-to-top.js">     
</script>

</body>

</html>