<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title> John Deo Life Coach Template - Template Feature Page </title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i%7CPT+Serif:400,400i,700,700i" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- top-header-section-->
    <div class="top-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                    <p class="welcome-text">Welcome to life coach website.</p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li>|</li>
                        <li>+180-123-4567</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-toggel">
        <a href="#" id="dots" class="dots-icon"><i class="fa fa-ellipsis-v visible-xs"></i></a>
    </div>
    <!-- /.top-header-section-->
    <!-- header-section-->
    <div class="header-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                    <div class="logo">
                        <a href="index.html"><img src="./images/logo.png" alt=""> </a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-8 col-sm-12 col-xs-12">
                    <!-- navigations-->
                    <div class="navigation">
                        <div id="navigation">
                            <ul>
                                <li class="active"><a href="index.html">Home</a></li>
                                <li class="has-sub"><a href="#">Coaching</a>
                                    <ul>
                                        <li><a href="coaching-list.html">Coaching List</a></li>
                                        <li><a href="coaching-single.html">Coaching Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="about.html">About me</a></li>
                                <li class="has-sub"><a href="#">Article</a>
                                    <ul>
                                        <li><a href="blog-default.html">Articles</a></li>
                                        <li><a href="blog-single.html">Article Single</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="#">Pages</a>
                                    <ul>
                                        <li><a href="testimonials.html">Client Stories</a> </li>
                                        <li><a href="events.html">Events</a> </li>
                                         <li><a href="event-single.html">Event Single</a> </li>
                                         <li><a href="books.html">books</a> </li>
                                        <li><a href="podcast.html">Podcast List</a></li>
                                        <li><a href="podcast-single.html">Podcast Single</a></li>
                                        <li><a href="video-gallery.html">Video Gallery</a> </li>
                                         <li><a href="accordion.html">Accordion</a> </li>
                                       
                                        <li><a href="404-page.html">404 page</a> </li>
                                        <li><a href="styleguide.html">styleguide</a> </li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">Ask me</a></li>
                                <li><a href="template-feature.html">Template Feature</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.navigations-->
                </div>
            </div>
        </div>
    </div>
    <!-- /. header-section-->
    <!-- page-header -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-caption">
                        <h1 class="page-title">Template Feature</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li>template Feature</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
     <!-- template-features -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2> Life Coach Motivational Speakers HTML5 Template
</h2>
                    </div>
                    <p class="lead">Are you a life coach motivational speakers?  Want to motivational speaker website design?  Build your website based on our best responsive web design HTML5 template.</p>
                    <p class="mb60">Best professional speaker website template are designed for speakers topics like business &amp; management speakers, healthcare speakers, motivation &amp; inspirational speakers, leadership speakers, personal development speakers, society &amp; social, sports, technology, and workplaces, entrepreneur.
</p>
                    <div class="device-img mb60">
                        <img src="./images/device_img.png" alt=""> </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt30">
                    <h3 class="mb40">Key Features:</h3>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="key-features">
                                <h6 class="key-features-title">Bootstrap V3+</h6>
                                <p> It is world’s best and famous front-end component library. It is a open source toolkit .
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">HTML5 &amp; CSS3</h6>
                                <p>Template built with HTML5 and CSS3 technology. It is very easy to understand.
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">W3C Valid Markup</h6>
                                <p>All web pages are checked by W3C Markup Validation Service. </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Owl Carousel (for slider)</h6>
                                <p>Using this jQuery create a homepage slider very beautiful and responsive.
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Vertical slider (for testimonial)</h6>
                                <p>Using this jQuery create a Vertical slider very beautiful and responsive.  <a href="https://bootsnipp.com/snippets/xWR9" target="_blank">Check jQuery</a>
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Audio Script (for Podcast Page)</h6>
                                <p>Using this jQuery create a HTML5 podcast player. <a href="https://codepen.io/davatron5000/pen/uqktG" target="_blank"> Check jQuery</a>
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Video Script (for Video Gallery)</h6>
                                <p>Video showcase page are to present your event and personal videos.
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Developer Friendly Coded</h6>
                                <p> Styleguide page template have a style of designed elements and typography for layout, So it is very useful for developer, who need ready made template for developing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt30">
                    <h3 class="mb40">Template Pages:</h3>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="key-features">
                                <h6 class="key-features-title">Coaching List Page</h6>
                                <p> You can use this excellent coaching list page to show different services which are you can provide. It is beautifully presented with an image and image overlay hover effect.
                                </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Coaching Single Page</h6>
                                <p>Lorem is iaculisque eget massa gnissis arcu ut, malesuada orci. </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Client Page</h6>
                                <p>On this page you can present your client photo with name and designation and full descriptive information. </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Event/Event Single Page</h6>
                                <p> You can put google map for location of event and fully informed about the event. Event schedule beautifully presents by accordion form. </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Podcast Single Page</h6>
                                <p>Showcase your current topic postcast via HTML5 Podcast player. </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Video Gallery Page</h6>
                                <p>On this page you can put your video clipping to attract your customers. </p>
                            </div>
                            <div class="key-features">
                                <h6 class="key-features-title">Styleguide Page</h6>
                                <p>The concept and idea of the whole template beautifully show in this style guide page. Which is very important for developers. You can check which elements and typography in the template of this page.  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12 text-center mt30">
                    <a href="https://easetemplate.com/" target="_blank" class="btn btn-primary">Get Life Coach Template</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.template-features -->
      <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb60">
                    <div class="footer-social">
                        <div class="">
                            <a href="#" class="btn-social-rectangle btn-facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="btn-social-rectangle btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn-social-rectangle btn-googleplus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="btn-social-rectangle btn-instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="btn-social-rectangle btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#" class="btn-social-rectangle btn-youtube"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- footer-contact links -->
                <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="ft-logo"><img src="./images/ft_logo.png" alt=""></div>
                    <div class="footer-widget">
                        <div class="contact-info">
                            <span class="contact-text">951 Meadow View Drive Bristol,USA06010 </span>
                        </div>
                        <div class="contact-info">
                            <span class="contact-text">+180-123-4567</span>
                        </div>
                    </div>
                </div>
                <!-- /.footer-useful links -->
                <!-- footer-company-links -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Quick Links</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul>
                                    <li><a href="#">Home </a></li>
                                    <li><a href="#">Coaching</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Article</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <ul>
                                    <li><a href="#">Podcast</a></li>
                                    <li><a href="#">Books</a></li>
                                    <li><a href="#">Ask me</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.footer-services-links -->
                <!-- newsletter -->
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Join Our Newsletter!</h3>
                        <p>Get inspiration and education delivered to your inbox.</p>
                        <form>
                            <!-- input-group -->
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Here" aria-describedby="basic-addon2">
                                <span class="input-group-addon" id="basic-addon2">
                                                    <i class="fa fa-paper-plane"></i></span>
                            </div>
                            <!-- /.input-group -->
                        </form>
                    </div>
                </div>
                <!-- /.newsletter -->
            </div>
            <!-- tiny-footer -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="tiny-footer">
                        <p>Copyright © All Rights Reserved 2020 Template Design by
                            <a href="https://easetemplate.com/" target="_blank" class="copyrightlink">EaseTemplate</a></p>
                    </div>
                </div>
                <!-- /. tiny-footer -->
            </div>
        </div>
    </div>
    <!-- /.footer -->
     <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/sticky-header.js"></script>
    <script type="text/javascript">
    $("#dots").click(function() {
        $(".top-header").toggle("slow", function() {
            // Animation complete.
        });
    });
    </script>
    <script type="text/javascript" src="js/return-to-top.js">     
</script>

</body>

</html>