<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- review-section -->
    <div class="bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="myCarousel" class="vertical-slider carousel vertical slide col-md-12" data-ride="carousel">
                        <br />
                        <!-- Carousel items -->
                        <div class="row">
                            <div class="col-md-4">
                                <span data-slide="next" class="vertical-prew btn-vertical-slider"><i class="icon-up-arrow-2"></i></span>
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="testimonial-section">
                                            <div class="testimonial-content">
                                                <h3 class="testimonial-title">Edgar Stlouis</h3>
                                                <p class="testi-meta">Business Owner</p>
                                                <p class="testimonial-text">“Eleifend exauctor ultricies justo acposere maxse”</p>
                                                <p>Sevamus vehicula elit duieu molestie arcu eleifend sed. In faucibus nisi nec aliquam elementunc eros eauctor ultricies justo acposere maximus magnliquam et mauris ultrullamcorper.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
                                        <a href="#"> <img src="{% static '/images/testi_img_1.jpg' %}" alt="" class="img-responsive"
                                ></a>
                                    </div>
                                </div>
                                <!--/row-fluid-->
                            </div>
                            <!--/item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="testimonial-section">
                                            <div class="testimonial-content">
                                                <h3 class="testimonial-title">Robert Barreto</h3>
                                                <p class="testi-meta">Business Owner</p>
                                                <p class="testimonial-text">“Pellentesque venenatis quisenim neecenas diam”</p>
                                                <p>Morbi tempor gravida pulvinauis risus nisi, placerat utleo incondimentum suscipit enimn dolor nuncultricies necmetus uultricies consectetur diamuspendisse acinia pulvinar egestas In posuere efficitur risusnon tempor mauris imperdiete. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
                                        <a href="#"> <img src="{% static '/images/testi_img_2.jpg' %}" alt="" class="img-responsive"
                              ></a>
                                    </div>
                                </div>
                                <!--/row-fluid-->
                            </div>
                            <!--/item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="testimonial-section">
                                            <div class="testimonial-content">
                                                <h3 class="testimonial-title">Lucille Teixeira</h3>
                                                <p class="testi-meta">Couple</p>
                                                <p class="testimonial-text">“Aenean eros semmollis tempor libero vitaeegestas”</p>
                                                <p>Vivamus dictum ipsum rhoncus pulvinar nullaid consectetur mauonec turpis massa auctor aipsum vitae porttitor fermentum justoonec necarcu adolor scelerque ultrices euut velituiset ligula urnaroin tempor augue duivel ultrices urnaleifend.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
                                        <a href="#"> <img src="{% static '/images/testi_img_3.jpg' %}" alt="" class="img-responsive"
                               ></a>
                                    </div>
                                </div>
                                <!--/row-fluid-->
                            </div>
                            <!--/item-->
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <span data-slide="prev" class="vertical-next btn-vertical-slider" ><i class="icon-down-arrow-2"></i></span>
                            </div>
                            <div class="col-md-8">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/. review-section -->
</body>
</html>